@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-base: rgb(12, 5, 33);
}

body,
html {
  background-color: rgb(31 41 55);
  min-height: 100vh;
  color: #f7fafc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-base);
  opacity: 0.75;
  border-radius: 0.5rem;
}

.scrollbar-gray-800::-webkit-scrollbar-thumb {
  background-color: #1f2937;
}
.scrollbar-m-b-2::-webkit-scrollbar-track {
  margin-bottom: 0.5rem;
}

.card-width {
  width: clamp(500px, 75vw, 800px);
}

.bg-dark {
  background-color: var(--dark-base);
}

.text-shadow-dark {
  text-shadow: 0 0 15px var(--dark-base);
}

/* .home-button:hover{
  --bg-y-pos: 50%;
  --bg-x-pos: 50%;
  background: radial-gradient(
      circle at var(--bg-x-pos) var(--bg-y-pos),
      rgb(207, 27, 66) 0%,
      rgb(228, 41, 82) 20%,
      rgb(244, 63, 94) 100%
  );
} */

.dropdown-rounded {
  border-top-left-radius: 2.125rem;
  border-top-right-radius: 2.125rem;
}

.output {
  min-height: 30rem;
}

.error::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #ef4444;
}

.transition-all-300 {
  transition: all 0.3s ease-in-out;
}

.transition-delayed {
  transition-delay: 0.3s;
}

.nav-button.open > span {
  box-shadow: none;
  background-color: white;
}
.nav-button.open > span:nth-child(1) {
  transform: translateY(0.6rem) rotate(45deg);
}

.nav-button.open > span:nth-child(2) {
  opacity: 0;
}

.nav-button.open > span:nth-child(3) {
  transform: translateY(-0.6rem) rotate(-45deg);
}

.circle-clip-hidden {
  clip-path: circle(0% at 0 0);
}

.circle-clip-visible {
  clip-path: circle(150% at 0 0);
}

.rect-clip-visible{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.rect-clip-hidden-top{
  clip-path: polygon(0 0%, 100% 0, 100% 0, 0% 0);
}


.tool-link-width{
  width: clamp(300px, calc(25% - 3rem), 450px);
}